.custom-card-container {
  background-color: #315c91;
  padding: 5%;
}

.relevante-title {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
}

.relevante-title h2 {
  text-align: start;
  color: white;
  font-family: Proxima Nova Alt, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-top: 1%;
}

.custom-logo {
  max-width: 25px;
  margin-right: 10px;
}

.custom-card-main {
  background-color: #315c91;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.custom-card-img-2 {
  width: 60%;
  height: auto;
  object-fit: cover;
}

.custom-card-body {
  position: absolute;
  left: 20%;
}

.custom-card-title {
  color: white;
  font-family: Proxima Nova Alt, sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-btn-ver-mas {
  background-color: #315c91;
  color: white;
  font-family: 'Proxima Nova Thin', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .custom-card-img-2 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}