.styletop-container {
  background-color: #315c91;
  padding: 2%;
}

.st-cont-1 h2 {
  color: white;
  font-family: Proxima Nova Alt, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-top: 1%;
}

.card-title {
  color: aliceblue;
  font-family: Proxima Nova Alt, sans-serif;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0;
}

.card-text {
  color: #dbff79;
  font-family: Proxima Nova Thin, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.card.sport-card {
  background-color: #188d60;
  border: none;
  transition: transform 0.2s;
  margin-bottom: 20px;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.card.sport-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Estilos para dispositivos móviles */
@media (max-width: 1024px) {
  .card-title {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .styletop-container {
    padding: 4%;
  }

  .st-cont h2 {
    font-size: 20px;
  }

  .card.sport-card {
    margin-bottom: 10px;
  }

  .card-title {
    font-size: 28px;
  }
}

@media (max-width: 393px) {
  .card-title {
    font-size: 26px;
  }
}

@media (max-width: 360px) {
  .card-title {
    font-size: 25px;
  }
}