.form-slider {
  background-color: rgba(117, 41, 149, 0.9);
}

.form-slider h3 {
  color: white;
}

.btn-add-staff {
  background-color: rgba(174, 62, 222, 0.9);
  color: white;
  font-family: Proxima Nova Thin, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}