.form-sports {
  background-color: rgba(117, 41, 149, 0.9);
}

.form-sports h3 {
  font-family: Proxima Nova Bold, sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
}

.btn-cancel-sport {
  background-color: rgba(149, 41, 70, 0.9);
  color: white;
  font-family: Proxima Nova Thin, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 10px;
}

.btn-update-sport {
  background-color: rgba(174, 62, 222, 0.9);
  color: white;
  font-family: Proxima Nova Thin, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 10px;
}